{% extends 'base.html' %}
{% block title %} About {% endblock title %} - Linker

{% block body %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-warning rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Welcome to Linker!</h1>
                <p class="fs-4"><b>
                        <p class="fs-3">About Us</p>
                    </b>
                    <br>
                <p class="fw-bold fs-4">This is what I do.</p>
                <br>
                <p class="fs-5">Hello all my friends...👋
                    <br>Linker is a web application whare you can save all your required links and as a result, if you
                    forgat a link address over time, you will find that link address in the linker. So, start adding
                    links to the linker from today.
                </p>
                </p>
                <div class="mt-2 d-grid gap-2">
                    <a type="button" class="btn btn-outline-dark fw-bold"
                        href="https://password-selector.herokuapp.com/" target="_blank">Go to Password Generator</a>
                    <a type="button" class="btn btn-outline-dark fw-bold" href="https://the-minimess.herokuapp.com/"
                        target="_black">Go to The MiniMess</a>
                    <a type="button" class="btn btn-outline-dark fw-bold" href="https://rajtech99.blogspot.com/"
                        target="_blank">RajTech99 only Technology</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock body %}