{% extends 'base.html' %}
{% block title %} Contact {% endblock title %} - Linker

{% block body %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-warning rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Welcome to Linker!</h1>
                <p class="fs-4"><b>
                        <p class="fs-3">Contact Us</p>
                    </b>
                    <br>
                <p class="fw-bold fs-4">Have questions🤔? I have answers😉.</p>
                <br>
                <p class="fs-5">If you have any query regrading Site, Advertisement and any other issue, please feel
                    free to contact at <b>rajtech99onlytechnology@gmail.com</b></p>
                </p>
                <div class="mt-2 d-grid gap-2">
                    <a type="button" class="btn btn-outline-dark fw-bold"
                        href="https://password-selector.herokuapp.com/" target="_blank">Go to Password Generator</a>
                    <a type="button" class="btn btn-outline-dark fw-bold" href="https://the-minimess.herokuapp.com/"
                        target="_blank">Go to The MiniMess</a>
                    <a type="button" class="btn btn-outline-dark fw-bold" href="https://rajtech99.blogspot.com/"
                        target="_blank">RajTech99 only Technology</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock body %}